{{!< default}}

<main class="content" role="main">

    {{#foreach posts}}

    <article class="preview">
        <header>
            <h1 class="post-title"><a href="{{url}}">{{{title}}}</a></h1>
            <div class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="dddd, MMMM DD, YYYY"}}</time></div>
        </header>
        <section class="post-content">
            <p>{{content}}</p>
            <p class="permalink"><a href="{{url}}#disqus_thread">Permalink <i class="fa fa-chevron-circle-right"></i></a></p>
        </section>
        
        <footer class="post-footer">
            {{#if author}}
            <section class="author">
                <div class="authorimage" style="background: url({{author.image}})"></div>
                <p class="attr">Author</p>
                <h4><a href="{{author.website}}">{{author.name}}</a></h4>
                <p class="bio">{{author.bio}}</p>
            </section>
            {{/if}}
        </footer>  
    </article>

    {{/foreach}}

    {{pagination}}

</main>